body>div {
  padding: 2em;
}
.book-list li {
  background: gray;
  color: #FFF;
  transition: padding 0.5s cubic-bezier(.79, .14, .15, .86);
}
li:hover {
  background: darkorange;
  cursor: pointer;
  padding-left: 2em;
}

}
